/* General body styling */
body {
  font-family: 'Oswald', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Title section styling */
.title h1 {
  text-align: center;
  color: #333;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title img {
  width: 75%;
  margin: auto;
}

.title img:hover {
  cursor: pointer;
}

/* Questions section styling */
.questions {
  display: none;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.questions h4 {
  color: #666;
}

.questions img {
  width: 100%;
  /* Make images responsive */
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

/* Result section styling */
.result {
  display: none;
  background-color: #e2e2e2;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  font-size: 1.2em;
}

/* general button styling  */
button {
  width: 140px;
  height: 50px;
  margin: 5px;
  border-radius: 30px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

/* question 1 styling  */

.question1 {
 margin-bottom: 100px;
}

.buttons1,
.buttons2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

}

.choice1 {
  background-color: #d3e68f;
}

.choice1:hover {
  background-color: rgba(211, 230, 143, 0.5)
}

.choice2 {
  background-color: #fe9285;
}

.choice2:hover {
  background-color: rgba(254, 146, 133, 0.5)
}

/* question 2 styling  */

/* .question2 {
  display: none;
} */

.choice3 {
  background-color: #b8dfd1;
}

.choice4 {
  background-color:#fb6860;
}

.choice3:hover {
  background-color: rgba(184, 223, 209, 0.5);
}

.choice4:hover {
  background-color: rgba(251, 104, 96, 0.5)
}